body {
  text-align: center;
  font-size: 45px;
  background-color: whitesmoke;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/106/629/original/pexels-monica-silvestre-713149.jpg?1702182236");
  background-repeat: no-repeat;
}

button {
  margin: 60px;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  background-color: purple;
  color: white;
}

div {
  color: white;
  background-color: black;
  border: 0px, 30px, 0, 30px;
}
